.hidden-content {
    display: none;
}

.appointment-body{
    width: 100vw;
    height: auto;

    background-color: #0f0f0f;

    padding-top: 3rem;
    padding-bottom: 8rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.appoint-body-block{
    width: 75vw;
    height: auto;

    background-color:#191919;

    padding-top: 5rem;
    padding-bottom: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1rem;

}

#appointment-body-form {
    width: 25vw;
    height: 50vh; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.text-appointment-crate {
    color: #746348;
    font-size: medium;
}

.form-date {
    width: 25rem;
    height: 2.5rem;

    border-radius: 0.8em;

    padding-left: 1rem;

    border: none;
    margin-top: 1rem;
    margin-bottom: 1rem;

    cursor: pointer;
    
    color: rgb(164, 164, 164);
    background-color: #282828;
}

.form-services {
    width: 26rem;
    height: 2.5rem;

    border-radius: 0.8em;

    padding-left: 1rem;

    border: none;
    margin-top: 1rem;
    margin-bottom: 1rem;

    cursor: pointer;
    
    color: rgb(164, 164, 164);
    background-color: #282828;
}

.form-artists {
    width: 26rem;
    height: 2.5rem;

    border-radius: 0.8em;

    padding-left: 1rem;

    border: none;
    margin-top: 1rem;
    margin-bottom: 1rem;

    cursor: pointer;
    
    color: rgb(164, 164, 164);
    background-color: #282828;
}

.app-main-button {
    width: 7rem;
    height: 2rem;

    color: rgb(234, 234, 234);

    font-weight: 500;

    margin: 1rem;

    cursor: pointer;

    border: none;
    border-radius: 0.2rem;
    background-color: #8C7857;
}

.app-main-button:hover {
    background-color: #746348;
}

.app-secundary-button {
    width: 7rem;
    height: 2rem;

    color: rgb(234, 234, 234);

    font-weight: 500;

    cursor: pointer;

    border: none;
    border-radius: 0.2rem;
    background-color: #525252;
}

.app-secundary-button:hover {
    background-color: #3c3c3c;
}

#appointment-warning {
    color: white;
    font-weight: 600;

    margin: 1rem;
}

#appointment-body-img {
    width: 25vw;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#app-image {
    width: 24vw;
    border-radius: 1rem;
}

