.hidden-content {
    display: none;
}

.hidden-content-warnig {
    display: none;
}

.profile-title {
    width: 100vw;
    height: auto;

    background-color: #0F0F0F;

    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-title-block {
    width: 75vw;
    height: auto;

    padding-top: 10rem;
    padding-bottom: 5rem;

    display: flex;
    justify-content: center;
}

.profile-body {
    width: 100vw;
    height: auto;

    padding-top: 5rem;
    padding-bottom: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0F0F0F;
}

.profile-body-block {
    width: 75vw;
    height: auto;

    padding-top: 5rem;
    padding-bottom: 5rem;

    background-color: #191919;
    border-radius: 1rem;

    color: gainsboro;
    font-size: larger;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

#sides-profile-block-1 {
    width: 30vw;
    height: 50vh;

    margin: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

#profile-picture{
    width: 18rem;
    height: auto;
    border-radius: 1rem;
}

#sides-profile-block-2 {
    width: 30vw;
    height: 50vh;

    margin: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#profile-tittle-text{
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: medium;
    color: #cdcdcd;
}

#profile-main-text {
    font-size: 500;
    margin-bottom: 0.5rem;
}

#profile-second-text {
    font-size: 500;
    margin: 0;
}

#line-division-text {
    width: 15vw;
    height: 0.2vh;

    margin-top: 1rem;

    background-color: darkgrey;
}

.edit-profile-button {
    width: 7rem;
    height: 2rem;

    color: rgb(234, 234, 234);

    font-weight: 500;

    margin-top: 2rem;
    margin-bottom: 2rem;

    cursor: pointer;

    border: none;
    border-radius: 0.2rem;
    background-color: #8C7857;
}

.edit-profile-button:hover {
    background-color: #746348;
}

.cancel-profile-button {
    width: 7rem;
    height: 2rem;

    color: rgb(234, 234, 234);

    font-weight: 500;

    cursor: pointer;

    border: none;
    border-radius: 0.2rem;
    background-color: #4c4c4c;
}

.cancel-profile-button:hover {
    background-color: #2d2d2d;
}

.edit-input {
    width: 26rem;
    height: 2.5rem;

    border-radius: 0.8em;

    padding-left: 1rem;

    border: none;
    margin-top: 1rem;
    margin-bottom: 1rem;

    cursor:text;
    
    color: rgb(164, 164, 164);
    background-color: #282828;
}
