
.services-card {
    width: 18rem;
    height: 29rem;

    background-color: rgb(49, 49, 49);
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.services-card:hover {
    width: 19rem;
    height: 28rem;

    transition: 500ms;

    cursor: pointer;
}

#services-card-image {
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#services-card-title {
    width: 11rem;
    height: 6rem;

    color: #8C7857;
    display: flex;
    justify-content: center;
    align-items: center;
}

#services-card-text {
    width: 11rem;
    height: 6.4rem;

    color: rgb(195, 195, 195);

    display: flex;
    justify-content: center;
    align-items: start;
    overflow: hidden; 
    text-overflow: ellipsis;
}