.footer{
    width: 100vw;
    height: 15vh;

    background-color:#8C7857;

    padding-top: 3rem;
    padding-bottom: 3rem;

    margin: 0;
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#logo-footer {
    width: 8rem;
}