.appointments {
    width: 100vw;
    height: auto;

    background-color: #0F0F0F;

    display: flex;
    justify-content: center;
    align-items: center;
}

#appointments-block {
    width: 75vw;
    height: auto;

    padding-top: 10rem;
    padding-bottom: 5rem;

    display: flex;
    justify-content: center;
}