.appointments {
    width: 100vw;
    height: auto;

    background-color: #0F0F0F;

    display: flex;
    justify-content: center;
    align-items: center;
}

#appointments-block {
    width: 75vw;
    height: auto;

    padding-top: 10rem;
    padding-bottom: 5rem;

    display: flex;
    justify-content: center;
}

.appointments-body {
    width: 100vw;
    height: auto;

    padding-top: 5rem;
    padding-bottom: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0F0F0F;
}

.appointments-body-block {
    width: 75vw;
    height: auto;

    padding-top: 5rem;
    padding-bottom: 5rem;

    background-color: #191919;
    border-radius: 1rem;

    color: gainsboro;
    font-size: larger;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#body-block-text {
    width: 60vw;
    height: auto;

    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* 
COMPONENTE */

.body-block-appointment {
    width: 60vw;
    height: auto;


    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #0C0C0C;

    margin-top: 2rem;
    margin-bottom: 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 1rem;
}

#block-img {
    width: 10vw;
    height: 13vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#image-block-appointments {
    width: 6rem;
}

#block-artist {
    width: 10vw;
    height: 9vh;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    overflow: hidden; 
    text-overflow: ellipsis;
}

.title-tex-block-appointments {
    margin: 0;
    text-align: left;
}

#block-service {
    width: 10vw;
    height: 9vh;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    overflow: hidden; 
    text-overflow: ellipsis;
}

#block-date {
    width: 10vw;
    height: 9vh;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    overflow: hidden; 
    text-overflow: ellipsis;
}

#block-button{
    width: 10vw;
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-app-button {
    width: 7rem;
    height: 2rem;

    color: rgb(234, 234, 234);

    font-weight: 500;

    margin: 1rem;

    cursor: pointer;

    border: none;
    border-radius: 0.2rem;
    background-color: #8C7857;
}

.delete-app-button:hover {
    background-color: #746348;
}

.appointments-error-text {
    color: white;
    font-weight: 600;
    margin: 1rem;
}