.home-main-banner {
    height: 80vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0F0F0F;
}

.image-banner-main {
    width: 40rem;
}

.home-info-section {
    width: 100vw;
    height: 60vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #0C0C0C;
}

#info-section-1 {
    width: 30rem;
    height: 25rem;

    display: flex;
    align-items: center;
    justify-content: end;
}

#info-section-2 {
    width: 30rem;
    height: 25rem;

    color: white;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: start;
}

.image-info-section {
    width: 30rem;
}

.home-services-section {
    width: 100vw;
    height: 70vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;


    background-color: #0C0C0C;
}

.services-card-space {
    width: 80vw;
    height: 50vh;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
