.home-main-banner {
    height: 80vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0F0F0F;
}

.image-banner-main {
    width: 40rem;
}

.home-info-section {
    width: 100vw;
    height: auto;

    padding-top: 3rem;
    padding-bottom: 2rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    background-color: #0C0C0C;
}

#info-section-1 {
    width: auto;
    height: auto;

    padding-top: 2rem;
    padding-bottom: 2rem;

    display: flex;
    align-items: center;
    justify-content: end;
}

#info-section-2 {
    width:25%;
    height: auto;

    color: white;
    text-align: left;

    padding-top: 5rem;
    padding-bottom: 5rem;

    display: flex;
    align-items: center;
    justify-content: start;
}

.image-info-section {
    width: 30rem;
}

.home-services-section {
    width: 100vw;
    height: auto;

    padding-top: 7rem;
    padding-bottom: 7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #0C0C0C;
}

.services-card-space {
    width: auto;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-evenly;
    align-items: center;

}
