.hidden-content {
    display: none;
}

.login-body {
    width: 100vw;
    height: auto;

    background-color: #0F0F0F;

    padding-top: 5rem;
    padding-bottom: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-body-block {
    width: 75vw;
    height: auto;

    padding-top: 5rem;
    padding-bottom: 5rem;

    background-color: #191919;
    border-radius: 1rem;

    color: gainsboro;
    font-size: larger;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.classic-login-button {
    width: 7rem;
    height: 2rem;

    color: rgb(234, 234, 234);

    font-weight: 500;


    margin-bottom: 2rem;

    cursor: pointer;

    border: none;
    border-radius: 0.2rem;
    background-color: #8C7857;
}

.classic-login-button:hover {
    background-color: #746348;
}

#simple-text-login {
    color: #746348;
    font-size: medium;
}